@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-success">
    <h1 class="display-4">Welcome TO</h1>
    <div class="container">
        <img src="~/images/logo-01.png" class="img-fluid" style="max-width: 200px; max-height: 200px;" alt="Logo">
    </div>
    <p class="text-primary">Tech Store</p>
</div>
