@model E_Commerce_App.Models.DTOs.LoginDTO

@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <img src="~/images/logo-01.png" class="img-fluid" style="max-width: 200px; max-height: 200px;" alt="Logo">
    </div>
</div>



